{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">

        <div class="card shadow">
            <div class="row g-0">

                <div class="col-md-4">
                    <img src="https://picsum.photos/400/300?random={{ produit.id }}"
                         class="img-fluid rounded-start">
                </div>

                <div class="col-md-8">
                    <div class="card-body">

                        <h3>{{ produit.nom }}</h3>

                        <p class="text-muted">{{ produit.description }}</p>

                        <h4 class="text-success">
                            {{ produit.prix }} DT
                        </h4>

                        <p>Stock: {{ produit.stock }}</p>

                        <a href="{{ path('app_produit_admin_edit', {'id': produit.id}) }}"
                           class="btn btn-warning">
                            Modifier
                        </a>

                        <a href="{{ path('app_produit_admin_index') }}"
                           class="btn btn-secondary">
                            Retour
                        </a>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
